.DS_Store
.cloud
.ha_*
.storage
.uuid
deps
tts
*.log
*.log.*
*.db*
/secrets.yaml
@eaDir
www/community
.*.conf
.*.state
.pip*
/ssl
*.pyc
/appdaemon/compiled
__pycache__
.HA_VERSION
/image
/esphome/.esphome

# Default blueprints
blueprints/automation/homeassistant
blueprints/script/homeassistant

# HACS
/custom_components

/node-red
/zigbee2mqtt
